.chartSwitch {
        width: 100%;
        display: flex;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
}

.chartLeft,
.chartRight {
        height: fit-content;
        * {
                text-wrap: nowrap;
        }
}
